Implement KNN on dataset. Explore the dataset and choose the appropriate attribute for x and y. Also print the classification report and prediction accuracy.

In [5]:
import csv

In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
ds=['/content/sample_data/Mall_Customers.csv']

In [7]:
dset = pd.read_csv('/content/sample_data/Mall_Customers.csv')

In [8]:
dset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [9]:
X = dset.iloc[:, :-1].values
y = dset.iloc[:, 4].values

In [10]:
from sklearn.model_selection import train_test_split

In [11]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=1)
classifier.fit(x_train,y_train)
KNeighborsClassifier(n_neighbors=1)
predict=classifier.predict(x_test)
from sklearn.metrics import classification_report,accuracy_score

NameError: ignored